@inherits MudComponentBase

<!--suppress ALL -->
<div class="@Class" style="@Style">
<MudGrid Class="flex-wrap">
    <MudItem xs="12">
        <MudToolBar Class="justify-space-between" Style="background-color: var(--mud-palette-surface)">
            @if (!HideThumbnails)
            {
                <MudTooltip Text="@Config.Labels.ToggleThumbnails" Arrow="true" Placement="Placement.Top">
                    <MudIconButton Icon="@Config.Icons.ToggleThumbnails"
                                   Size="Size.Medium"
                                   Color="@Config.Colors.IconColor"
                                   OnClick="ToggleThumbnails"
                                   Disabled="PdfErrored"
                                   aria-label="@Config.Labels.ToggleThumbnails"/>
                </MudTooltip>
            }
            <MudTooltip Text="@Config.Labels.PreviousPage" Arrow="true" Placement="Placement.Top">
                <MudIconButton Icon="@Config.Icons.PreviousPage"
                               Size="Size.Medium"
                               Color="@Config.Colors.IconColor"
                               OnClick="PreviousPageAsync"
                               Disabled="PdfErrored"
                               aria-label="@Config.Labels.PreviousPage"/>
            </MudTooltip>
            <MudTooltip Text="@Config.Labels.NextPage" Arrow="true" Placement="Placement.Top">
                <MudIconButton Icon="@Config.Icons.NextPage"
                               Size="Size.Medium"
                               Color="@Config.Colors.IconColor"
                               OnClick="NextPageAsync"
                               Disabled="PdfErrored"
                               aria-label="@Config.Labels.NextPage"/>
            </MudTooltip>
            <div style="max-width: 60px;">
                <MudNumericField
                    T="int"
                    Text="@_pageNumber.ToString()"
                    Variant="Variant.Filled"
                    Margin="Margin.Dense"
                    HideSpinButtons="true"
                    Disabled="PdfErrored"
                    ValueChanged="PageNumberChanged"/>
            </div>
            <MudText Typo="Typo.body1" Class="ml-2 mr-2">@Config.Labels.PageOf</MudText>
            <MudText Typo="Typo.body1">@_pageCount</MudText>
            <MudSpacer/>
            <MudTooltip Text="@Config.Labels.ZoomOut" Arrow="true" Placement="Placement.Top">
                <MudIconButton Icon="@Config.Icons.ZoomOut"
                               Size="Size.Medium"
                               Color="@Config.Colors.IconColor"
                               OnClick="ZoomOutAsync"
                               Disabled="PdfErrored"
                               aria-label="@Config.Labels.ZoomOut"/>
            </MudTooltip>
            <MudChip T="string" Variant="Variant.Text">@_zoomPercentage</MudChip>
            <MudTooltip Text="@Config.Labels.ZoomIn" Arrow="true" Placement="Placement.Top">
                <MudIconButton Icon="@Config.Icons.ZoomIn"
                               Size="Size.Medium"
                               Color="@Config.Colors.IconColor"
                               OnClick="ZoomInAsync"
                               Disabled="PdfErrored"
                               aria-label="@Config.Labels.ZoomIn"/>
            </MudTooltip>
            <MudSpacer/>
            <MudMenu Icon="@Config.Icons.Menu" AriaLabel="@Config.Labels.OpenMenu" Disabled="PdfErrored">
                <MudMenuItem Icon="@Config.Icons.RotateClockwise" Label="@Config.Labels.RotateClockwise" OnClick="RotateClockwiseAsync"/>
                <MudMenuItem Icon="@Config.Icons.RotateCounterclockwise" Label="@Config.Labels.RotateCounterclockwise" OnClick="RotateCounterclockwiseAsync"/>
                <MudMenuItem Icon="@Config.Icons.SwitchOrientation" Label="@Config.Labels.SwitchOrientation" OnClick="SwitchOrientationAsync"/>
                <MudDivider/>
                <MudMenuItem Icon="@Config.Icons.FirstPage" Label="@Config.Labels.FirstPage" OnClick="FirstPageAsync"/>
                <MudMenuItem Icon="@Config.Icons.LastPage" Label="@Config.Labels.LastPage" OnClick="LastPageAsync"/>
                <MudDivider/>
                <MudMenuItem Icon="@Config.Icons.ResetZoom" Label="@Config.Labels.ResetZoom" OnClick="ResetZoomAsync"/>
                <MudDivider/>
                <MudMenuItem Icon="@Config.Icons.PrintDocument" Label="@Config.Labels.PrintDocument" OnClick="PrintDocumentAsync"/>
                <MudMenuItem Icon="@Config.Icons.DownloadDocument" Label="@Config.Labels.DownloadDocument" OnClick="DownloadDocumentAsync"/>
            </MudMenu>
        </MudToolBar>
        @if (_loading)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
        }
    </MudItem>
    <MudItem xs="12">
        <MudGrid Class="flex-column">
            <MudItem xs="12" Class="justify-center d-flex mudpdf_container" Style="@ColorStyle()">
                @if (PdfErrored)
                {
                    <div class="mudpdf_password">
                        <MudCard Class="pa-2">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudStack Row="true" Justify="Justify.Center">
                                        @if (_pdfError?.ErrorType == PdfErrorType.PasswordRequired)
                                        {
                                            <MudIcon Icon="@Icons.Material.Filled.Warning" Color="Color.Warning" Size="Size.Large"/>
                                            <MudText Typo="Typo.h5">Password Required</MudText>
                                        }
                                        else
                                        {
                                            <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error" Size="Size.Large"/>
                                            <MudText Typo="Typo.h5">PDF Error</MudText>
                                        }
                                    </MudStack>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                @if (_pdfError?.ErrorType == PdfErrorType.PasswordRequired)
                                {
                                    <MudTextField @bind-Value="_password" InputType="_passwordInputType" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="PeekPassword" Label="Password" Variant="Variant.Filled" HelperText="Please enter the password for the PDF document."></MudTextField>
                                    @if (!string.IsNullOrEmpty(_pdfError?.Message))
                                    {
                                        <MudAlert Class="mt-3" Severity="Severity.Warning">@_pdfError.Message</MudAlert>
                                    }
                                }
                                else
                                {
                                    <MudAlert Class="mt-3" Severity="Severity.Error">@_pdfError?.Message</MudAlert>
                                }
                            </MudCardContent>
                            <MudCardActions Style="flex-direction: row-reverse">
                                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="ReloadPdfAsync">@(_pdfError?.ErrorType == PdfErrorType.PasswordRequired ? "Submit" : "Retry")</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </div>
                }

                <div class="@(PdfErrored ? "d-none" : "")">
                    <div id="@($"{_id}_thumbs")" class="@ThumbnailClass()" style="@ColorStyle()"></div>
                    @if (!SinglePageMode)
                    {
                        <div id="@_id" class="mudpdf_scroll" style="@ScrollStyle()"></div>
                    }
                    else
                    {
                        <canvas @ref="_element" id="@_id" style="overflow: auto"></canvas>
                        <div id="@($"{_id}_text")" class="textLayer"></div>
                    }
                </div>

            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
</div>